<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038095714065-q7kr6o6bt95706ocd223eq3jtj0253kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038095714065-q7kr6o6bt95706ocd223eq3jtj0253kj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1038095714065-st2vcrdd24fmipko7dthmhulc1s914hp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADdLtQ1K0l88pe9CxdCATvIrBzvfiUdVA</string>
	<key>GCM_SENDER_ID</key>
	<string>1038095714065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ekalJaagran.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ekal-db</string>
	<key>STORAGE_BUCKET</key>
	<string>ekal-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038095714065:ios:3dcc2b64f9718525aaaeb0</string>
	<key>DATABASE_URL</key>
	<string>https://ekal-db-default-rtdb.firebaseio.com</string>
</dict>
</plist>